$color_1: #ddd;
$color_2: #fff;
$color_3: #333;
$color_4: #3498db;
$color_5: #7f8c8d;
$color_6: #e67e22;
$font_family_1: "Raleway", sans-serif;
$font_family_2: "Roboto", sans-serif;
$background_color_1: #fff;

#barra-brasil {
  .conteudo-barra-brasil {
    nav {
      overflow-x: hidden !important;
    }
  }
}

header {
  font-family: $font_family_2 !important;
  a {
    &:hover {
      color: $color_1;
      text-decoration: none;
    }
  }
  .menu_accessibility_component span.accessibility{
    background: #fff;
    border-radius: 2rem;
    border-color: none;
  }
  .menu-bar-ufj {
    .menu-head {
      margin-left: 15px;
    }
    a {
      color: $color_3 !important;
    }
    .menu-panel {
      display: none;
      z-index: 9000;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: $background_color_1;
      border-bottom: 2px solid #ccc;
    }
  }
  .hamburger {
    margin-top: 5px !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
  }
  .hamburger-menu {
    text-align: left;
    > li {
      display: inline-block;
      vertical-align: top;
      margin: 10px;
      max-width: 250px;
      &:hover {
        background: none;
        > a {
          color: $color_4;
        }
      }
      > a {
        color: $color_3;
        font-size: 18px;
        font-weight: bold;
        font-family: $font_family_2;
      }
      > menu.submenu {
        list-style: none;
        padding-left: 0;
        display: block;
        width: auto;
        position: static;
        background: none;
        box-shadow: none;
      }
    }
    menu {
      > li {
        > a {
          color: $color_5;
          font-family: $font_family_2;
          &:before {
            content: " ";
            left: -12px;
            color: $color_6;
          }
        }
        > menu {
          > li {
            margin-left: 10px;
          }
        }
      }
    }
    > li.sub {
      &:after {
        content: "";
        display: none;
      }
    }
  }
  .menu_component {
    menu {
      li {
        padding: 0.3rem;
        font-size: 0.9rem;
      }
    }
    position: static !important;
  }
  .search_box_component {
    height: 70px;
    color: $color_3;
    #search {
      height: 60px;
      font-size: 18px;
      border: 0px;
      color: $color_3;
    }
    #options {
      margin-top: -10px;
    }
  }
  .assuntos-em-alta {
    text-align: center;
    li {
      border: 3px solid white;
      padding: 8px;
      border-radius: 30px;
      color: $color_2;
      list-style: none;
      display: inline-block;
      margin-right: 10px;
      margin-top: 10px;
      a {
        color: $color_2;
        font-weight: bold;
      }
      &:hover {
        background: #fff;
        a {
          color: $color_3;
          transition: 0.3s;
        }
      }
    }
    h4 {
      color: $color_2;
      margin-top: 40px;
    }
    .menu_component {
      width: auto;
    }
  }
  .navegacao {
    margin-bottom: 20px;
    .container {
      border-bottom: 1px solid #f1f1f1;
      font-size: 0.9rem;
    }
    .breadcrumb_component {
      .breadcrumb-divider {
        padding: 0 15px;
      }
    }
  }
  .ufj-logo {
    margin-left: 20px;    
    img{
      height: 30px;
    }
  }
  .main-header {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin-top: 15px;
    .container {
      border-bottom: 1px solid #fff;
    }
    .col-md-1 {
      display: inline-flex;
      position: static;
    }
    .col-md-5 {
      display: inline-flex;
      position: static;
    }
  }
  .menu-head {
    display: block;
    > span {
      &:first-of-type {
        display: none;
      }
    }
  }
  .fundo-home {
    background-image: url("/up/464/o/post2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 750px;
    margin-top: 0px;
    color: $color_2;
    padding-top: 150px;
    text-align: center;
  }
  .fundo-internas {
    background-image: url("/up/464/o/Alunos_UFJ.jpg");
    background-size: cover;
    background-position: center;
    min-height: 70px;
    margin-top: 0px;
    color: $color_2;
    text-align: center;
  }
  .search_box_component {
    #options {
      height: 60px;
      font-size: 18px;
      border: 0px;
      color: $color_3;
    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    .hamburger-menu {
      width: 100%;
      margin: auto;
    }
  }
  .menu-box {
    min-width: 100% !important;
  }
}
@media screen and (min-width: 1001px) {
  header {
    .hamburger-menu {
      width: 1200px;
      margin: auto;
    }
  }
}
