.servicos{
	padding-top: 120px;
  padding-bottom: 120px;
}

.servicos h5{
		border-left: 5px solid var(--danger);
    padding-left: 20px;
    margin-bottom: 20px;
  	margin-top: 20px;
}

.servicos div{
  padding-top: 20px;
	border: none;
  text-align: center;
  height: 100%;
}


.servicos .card h6{
	color: #555;
}

.servicos .fas{
	font-size: 60px;
}


.servicos .paratodos .fas{
	color: #badc58;
}

.servicos .paraufj .fas{
	color: #f0932b;
}

.servicos a{
	text-decoration: none;
  color: #333;
}

.servicos a:hover{
  text-decoration: none;
  color: #333;
}


.servicos div>div{
	height: auto;
}


.servicos div>div:hover{
	text-decoration: none;
  opacity: 0.8;
  background-color: var(--light-grey);
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  transition: 0.3s;
}

.servicos div>div:hover .fas{
	color: #333;
  transition: 0.3s;
}



